.Bloque{
margin: 0 auto;
text-align: center;
background-color: #28666E;
width: 70%;
border-radius: 15px;
box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
body{
margin: 0 auto;
text-align: center;
justify-content: center;
}
.boton{
margin: 10px;
background-color: #7C9885;
color: white;
font-weight: bold;
}
input{
    margin :20px
}
p{
    margin: 5px auto;
    margin-bottom: 10px;
    background-color: #527F7A;
    width: 70%;
    border-radius: 15px;
    font-weight: bold;
}